*{
    background-color: black;
    color: white;
}

body {
    margin: 50px;
}

.document{
}

.header{
    display: flex;
}

.title{
    font-family: 'Franie';
}

.player {
    display: flex;
}

.track-list-header {
    display: flex;
    justify-content: space-between;
}

.track-list {
    display: flex;
    justify-content: space-between;
}

.album-artwork {
    width: 200px;
    height: 200px;
}

@font-face {
    font-family: 'Franie';
    font-weight: bold;
    src: url("fonts/FranieVariableTest-ExtraBold-BF64c31f3d93e1b.otf") format("opentype");
}