*{
    background-color: black;
    color: white;
}

body {
    margin: 50px;
}

.document{
}

.header{
    display: flex;
}

.player {
    display: flex;
}

.track-list-header {
    display: flex;
    justify-content: space-between;
}

.track-list {
    display: flex;
    justify-content: space-between;
}

.album-artwork {
    width: 200px;
    height: 200px;
}